.userComment {
  display: flex;
  justify-content: space-between;
}

.userComment img {
  width: 10%;
  border-radius: 50%;
  margin-top: 10px;
}

.userComment p {
  font-weight: 500;
  font-size: 15px;
  font-size: 15px;
}

.userComment h1 {
  font-size: 25px;
  margin-left: 0;
  margin-right: 0px;
  color: black;
  font-weight: 500;
}

.userComment > div > h1 {
  display: inline;
  padding-left: 15px;
  vertical-align: top;
}

.userComment > div > img {
  width: 15%;
}

.userComment > div {
  position: relative;
}
