.image {
  width: 100%;
  margin-bottom: 30px;
}

input {
  display: none;
}

.labelWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.labelWrapper input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.labelWrapper label {
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

/* @media only screen and (max-width: 1000px) {
  .image {
    width: 70%;
  }
} */
