.dialog {
  width: 500px;
  max-width: 80%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #7abff8;
  padding: 10px 20px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
