.textArea {
    border: none;
    outline: none;
    border-bottom: 1px solid #808080; 
    width: 100%;
    resize: none;
    position: relative;
}
.textArea:focus{
    border-bottom: 2px solid green ;
}
.textArea::before{
    content: "attr(placeholder)";
    position: absolute;
    top: 0;
    left: 0;
}