.RegistrationForm {
    input.RegistrationForm__splitter {
        margin-right: 5%;
    }

    input.input {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    input.last {
        margin-top: 5%;
    }
}