.halfInpOne {
    box-sizing: border-box !important;
    width: 40% !important;
    margin-right: 20% !important;
   
}

.halfInpTwo {
    width: 40% !important;

}

.Save {
    border-radius: 3px !important;
    background-color: green !important;
    width: 15% !important;
    margin-right: 10px !important; 
}

.Delete {
    border-radius: 3px !important;
    background-color: red !important;
    width: 15% !important;
}

.textarea {
    padding: 0 0 0 0 !important;
}